# Python
backend/venv/
__pycache__/
*.pyc

# Environment variables
backend/.env

# Node modules
frontend/node_modules/

# Build folders
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log